* {box-sizing: border-box;}
@font-face {
    font-family: 'Kodchasan';
    src: url('path/to/kodchasan.woff2') format('woff2'),
         url('path/to/kodchasan.woff') format('woff');
    /* Các định dạng tệp font chữ khác (nếu có) có thể được thêm vào đây */
  }
body {
  margin: 0;
  font-family: 'Kodchasan', Arial, Helvetica, sans-serif;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
}

.search-container {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.company_name{
  /* position: absolute; */
  padding-top: 5%;
  color: #DC2626;
  font-family: 'Kodchasan', sans-serif;
}

.search-container {
  display: flex;
  align-items: center;
}

#search-input {
  background-color: #eef7ff;
  border: none;
  padding: 5px;
  width: 200px;
}

#search-button {
  border: none;
  color: #fff;
  background-color: #1265f3;
  padding: 5px 10px;
}

#search-results {
  margin-top: 10px;
}