* {box-sizing: border-box;}
@font-face {
    font-family: 'Kodchasan';
    src: url('path/to/kodchasan.woff2') format('woff2'),
         url('path/to/kodchasan.woff') format('woff');
    /* Các định dạng tệp font chữ khác (nếu có) có thể được thêm vào đây */
  }
body {
  margin: 0;
  font-family: 'Kodchasan', Arial, Helvetica, sans-serif;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
}

.search-container {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.company_name{
  /* position: absolute; */
  padding-top: 5%;
  color: #DC2626;
  font-family: 'Kodchasan', sans-serif;
}

.search-container {
  display: flex;
  align-items: center;
}

#search-input {
  background-color: #eef7ff;
  border: none;
  padding: 5px;
  width: 200px;
}

#search-button {
  border: none;
  color: #fff;
  background-color: #1265f3;
  padding: 5px 10px;
}
.header{
    padding-left: 80px;
}
/* top-header */
.top-header {
    background-color: #fef2f2;
    color: #991b1b;
    padding-top: 10px;
    padding-left: 110px;
    text-transform: uppercase;
    font-family: 'Kodchasan', sans-serif;
}
.gmail, .address{
    position: relative;
}
.gmail > p::after,
.gmail > p::before,
.address > p::after,
.address > p::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 27px;
    background-color: #991b1b;
    top: 0px;
    right: -3px;
}
/* end top-header */
/* banner */
.banner {
    background-image: url(../images/banner.png);
    height: 85vh;
    background-size: cover;
}
/* banner */
.nav-link{color: #FFFFFF !important; font-family: 'Kodchasan', sans-serif;}
.advantage_kt {
  text-align: center;
  color: #DC2626;
  font-family: 'Kodchasan', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
}
.advantage_title {
  text-align: center;
  color: #DC2626;
  font-family: 'Kodchasan', sans-serif;
  font-size: 28px;
  font-style: normal;
}
.advantage_reason{
  text-align: center;
  padding-top: 40px;
  font-size: 14px;
  font-family: 'Kodchasan', sans-serif;
}

.visao{
  text-align: center;
}
.icon_advantage{
  border-radius: 50%;
  background: #1265F3;
  width: 100px;
  height: 100px;
  margin-left: 35%;
}
.service_gt{
  text-align: center;
  color: #DC2626;
  font-family: 'Kodchasan', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top: 26px;
}
.service_tt{
  text-align: center;
  color: #DC2626;
  font-family: 'Kodchasan', sans-serif;
  font-size: 28px;
  font-style: normal;
}
.service_product{
  width: 408px; 
  height: 500px; 
  border: 2px solid silver;
}
.service_item{
  padding-top: 20px;
  padding-left: 25%;
}
.service_image{
  text-align: center;
  padding-top: 6px;
}
.service_title{
  padding-top: 10px;
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
  font-size: 20px;
}
.service_describe{
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
  color: #DC2626;
}
.service_information{
  font-family: 'Kodchasan', sans-serif;
  font-size: 16px;
  border-radius: 0%;
  background: rgba(238, 238, 238, 0.933333);
  text-align: center;
  width: 170px;
  height: 34px;
  padding-top: 6px;
}
.service_rating{
  text-align: center;
  padding-top: 10px;
}
#myButton {
  position: relative;
  background: none;
  color: #DC2626;
  transition: color 0.3s;
  border-radius: 0.1px;
  border-color: #DC2626;
  height: 40px;
  width: 175px;
}

#myButton:hover {
  color: #FFFFFF;
  background-color: #DC2626;
}

#red, #white {
  position: absolute;
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s;
}

#myButton:hover #red {
  opacity: 0;
}

#myButton:hover #white {
  opacity: 1;
}

.button{
  padding-top: 10px;
  text-align: center;
}
.button_icon{
  position: relative;
  width: 200px; 
  height: 200px;
  overflow: hidden;
}
.service_button{
  padding-top: 20px;
}
.about-us{
  font-family: 'Kodchasan', sans-serif; 
}
.title {
  font-weight: bold;
  color: #DC2626;
}
.text{
  padding-bottom: 16px;
}
.imageContain {position: relative;}
.bottom-left{
bottom: 1px;
left: 12px;
position: absolute;
background-color: #1265F3B2;
color: #FFFFFF;
border-radius: 0px 0px 0px 5px;

}