* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
@font-face {
  font-family: 'Kodchasan';
  src: url('path/to/kodchasan.woff2') format('woff2'),
    url('path/to/kodchasan.woff') format('woff');
  /* Các định dạng tệp font chữ khác (nếu có) có thể được thêm vào đây */
}

body {
  margin: 0;
  font-family: 'Kodchasan', Arial, Helvetica, sans-serif;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
}

.search-container {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.company_name {
  /* position: absolute; */
  /* padding-top: 5%; */
  color: #DC2626;
  font-family: 'Kodchasan', sans-serif;
}

.search-container {
  display: flex;
  align-items: center;
}

#search-input {
  background-color: #eef7ff;
  border: none;
  height: 40px !important;
  width: 200px;
}

#search-button {
  border: none;
  color: #fff;
  background-color: #1265f3;
  width: 30px;
}



/* top-header */
.top-header {
  background-color: #fef2f2;
  color: #991b1b;
  padding-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Kodchasan', sans-serif;
}

.gmail,
.address {
  position: relative;
}

.gmail>p::after,
  .gmail>p::before,
  .address>p::after,
  .address>p::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #991b1b;
    top: 0px;
    bottom: 0px;
    right: -3px;
  }

/* end top-header */
/* banner */
.banner {
  background-image: url(../images/banner.png);
  height: 800px;
  background-size: cover;
}

/* banner */
.nav-link {
  color: #FFFFFF !important;
  font-family: 'Kodchasan', sans-serif;
  font-weight: bold !important;
}
li{
  width: 145px;
}

.advantage_kt {
  text-align: center;
  color: #DC2626;
  font-family: 'Kodchasan', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
}

.advantage_title {
  text-align: center;
  color: #DC2626;
  font-family: 'Kodchasan', sans-serif;
  font-size: 28px;
  font-style: normal;
}

.advantage_reason {
  text-align: center;
  padding-top: 40px;
  font-size: 14px;
  font-family: 'Kodchasan', sans-serif;
}

.visao {
  text-align: center;
}

.icon_advantage {
  border-radius: 50%;
  background: #1265F3;
  width: 100px;
  height: 100px;
  justify-content: center;
}

.service_gt {
  text-align: center;
  color: #DC2626;
  font-family: 'Kodchasan', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top: 26px;
}

.service_tt {
  text-align: center;
  color: #DC2626;
  font-family: 'Kodchasan', sans-serif;
  font-size: 28px;
  font-style: normal;
}

.service_product {
  width: 408px;
  height: 500px;
  border: 2px solid silver;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.service_item {
  padding-top: 20px;
}

.service_image {
  text-align: center;
  padding-top: 6px;
}

.service_title {
  padding-top: 10px;
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
  font-size: 20px;
}

.service_describe {
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
  color: #DC2626;
}

.service_information {
  font-family: 'Kodchasan', sans-serif;
  font-size: 16px;
  border-radius: 0%;
  background: rgba(238, 238, 238, 0.933333);
  text-align: center;
  width: 170px;
  height: 34px;
  padding-top: 6px;
}

.service_rating {
  text-align: center;
  padding-top: 10px;
}

#myButton {
  position: relative;
  background: none;
  color: #DC2626;
  transition: color 0.3s;
  border-radius: 0.1px;
  border-color: #DC2626;
  height: 40px;
  width: 175px;
}

#myButton:hover {
  color: #FFFFFF;
  background-color: #DC2626;
}

#red,
#white {
  position: absolute;
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s;
}

#myButton:hover #red {
  opacity: 0;
}

#myButton:hover #white {
  opacity: 1;
}

.button {
  padding-top: 10px;
  text-align: center;
}

.button_icon {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.service_button {
  padding-top: 20px;
}

.about-us {
  font-family: 'Kodchasan', sans-serif;
}

.title {
  font-weight: bold;
  color: #DC2626;
}

.text {
  padding-bottom: 16px;
}

.imageContain {
  position: relative;
  background-size: cover;
  background-image: url(../images/Rectangle13.png);
  min-height: 45vh;
}

.bottom-left {
  bottom: 0px;
  left: 0px;
  position: absolute;
  background-color: #1265F3B2;
  color: #FFFFFF;
  border-radius: 0px 0px 0px 5px;
}

.Vehicle_lines_describe {
  padding-top: 20px;
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
  font-size: 16px;
  font-style: normal;
}

.Vehicle_lines_title {
  padding-top: 10px;
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
  font-size: 28px;
  color: #DC2626;
}

.Vehicle_lines_car .col-xl-3{
  position: relative;
}
.Vehicle_lines_car img{
  width: 100%;
}
.image-container {
  position: relative;
  perspective: 1000px;
  transition: transform 1s;
}
.image-container:hover .trapezoid {
  opacity: 1;
}
.image-container:hover img {
  transform: rotateY(360deg);
}                                 
.image-container img {
  transition: transform 1s;
  transform-style: preserve-3d;
}
.trapezoid {
  position: absolute;
  left: 12px;
  width: 200px;
  bottom:0px;
  height: 0;
  border-bottom: 52px solid rgba(153, 27, 27, 0.8);
  clip-path: polygon(0 0, 69% 0, 100% 100%, 0% 100%);
  border-radius: 0px 0px 0px 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.trapezoid:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-right: 100px solid transparent;
  width: 100%;
}

.Vehicle_lines_car_title {
  font-family: 'Kodchasan', sans-serif;
  color: #FFFFFF;
  font-size: 13px;
  padding-top: 15px;
  padding-left: 10px;
  position: absolute;
}

.Vehicle_lines_button {
  text-align: center;
  border-radius: 1px;
  background: linear-gradient(90deg, #991B1B 0%, #DC2626 50.41%, #991B1B 100%);
  color: #eef7ff;
  width: 151px;
  height: 39px;
  padding-top: 7px;
  flex-direction: row;
  align-items: center;
}

.bookingProcess .container {
  border-radius: 100px;
  border-width: 1px;
  /* height: 150px; */
  border-style: solid;
  border-color: #FFFFFF;
  margin-top: 50px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Kodchasan', sans-serif;
  margin-bottom: 45px;
}
/* .bookingProcess .col-xl-3{
  width: 315px;
} */

.half-top {
  padding-top: 35px;
  color: #FFFFFF;
  font-family: 'Kodchasan', sans-serif;
}

.text h2 {
  text-transform: uppercase;
}

.border-outside {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #FFFFFF;
  /* width: 705px; */
  height: 122px;
  /* top: 10px; */
  /* left: 10px; */
  padding: 12px;
  position: relative;
}

.half-top .background {
  font-family: 'Kodchasan', sans-serif;
  text-transform: uppercase;
}

.border-inside {
  background-color: #FFFFFFB2;
  /* width: 680px; */
  height: 98px;
  border-radius: 10px;
}

.border-inside p {
  color: #000000;
  top: 21px;
  left: 34px;
  position: absolute;
  font-size: 16px;
  font-weight: bold;
}

.border-inside h1 {
  bottom: 7px;
  right: 113px;
  position: absolute;
  color: #DC2626;
  font-weight: bold;
}

.half-bottom {
  font-family: 'Kodchasan', sans-serif;
  padding-top: 20px;
}

.half-bottom h2 {
  text-transform: uppercase;
  color: #FFFFFF;
}

.half-bottom .col-xl-5 #button {
  background-color: #FFFFFF;
  border-radius: 10px;
  border-width: 0px;
  width: 180px;
  height: 49px;
  padding: 12px 30px;
  color: #DC2626;
  font-weight: bold;
  font-size: 16px;
  /* margin-left: 93px; */
  margin-top: 20px;
}

.half-bottom .col-xl-4 #button {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 255px;
  border-width: 0px;
  height: 49px;
  padding: 12px 30px;
  color: #DC2626;
  font-weight: bold;
  font-size: 16px;
  /* margin-left: 45px; */
  margin-top: 20px;
}

.half-bottom .col-xl-3 #button {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 253px;
  border-width: 0px;
  height: 49px;
  padding: 12px 30px;
  color: #DC2626;
  font-weight: bold;
  font-size: 16px;
  /* margin-left: 5px; */
  margin-top: 20px;
}

.half-bottom #button {
  margin-bottom: 30px;
}
.half-bottom .col-xl-5 #button:hover {
  background-color: #DC2626;
  color: #FFFFFF;
  transition: all 0.5s;
}
.half-bottom .col-xl-4 #button:hover {
  background-color: #DC2626;
  color: #FFFFFF;
  transition: all 0.5s;
}
.half-bottom .col-xl-3 #button:hover {
  background-color: #DC2626;
  color: #FFFFFF;
  transition: all 0.5s;
}

.Evaluate_title {
  padding-top: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Kodchasan', sans-serif;
  /* padding-left: 290px; */
}

.Evaluate_description {
  padding-top: 10px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Kodchasan', sans-serif;
  /* padding-left: 290px; */
  color: #DC2626;
}

footer {
  font-family: 'Kodchasan', sans-serif;
}

.top {
  background-size: cover;
  padding-bottom: 60px;
  color: #FFFFFF;
  background-color: #1265f3;
  margin-top: 34px;
  padding-top: 55px;
}

.top h5 {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 34px;
}

.top p {
  font-size: 15px;
}

.iconfb {
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  color: #DC2626;
  border-radius: 50px;
  padding: 3px 9.91px;
  margin-right: 10px;
}

.iconMess {
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  color: #DC2626;
  border-radius: 50px;
  padding: 1px 5px;
  margin-right: 10px;
}
.iconyt {
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  color: #DC2626;
  border-radius: 50px;
  padding: 3px 6.5px;
  margin-right: 10px;
}
footer .bottom{
  height: 25px;
  margin-top: 8px;
}
.Quote_title{
  font-family: 'Kodchasan', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.Quote_description{
  padding-top: 10px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Kodchasan', sans-serif;
  color: #DC2626;
}
input[type=text], select, textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #FEF2F2;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  width: 100%;
  height: 40px;
}

input[type=submit] {
  background-color:white ;
  color: #DC2626;
  border-radius: 5px;
  width: 67px;
  height: 40px;
  font-family: 'Kodchasan', sans-serif;
  right: 0px;
  font-weight: bold;
  border-color: #DC2626;
}

input[type=submit]:hover {
  background-color: #DC2626;
  color:#ffffff ;
  border-radius: 5px;
  width: 67px;
  height: 40px;
}
input[type=reload]:hover {
  background-color: #DC2626;
  color: #FEF2F2;
}
input[type=reload] {
  color: #DC2626;
  border-color: #DC2626;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-family: 'Kodchasan', sans-serif;
  text-align: center;
  right: 0px;
  font-weight: bold;
  cursor: pointer;
}
.Quote_information{
  font-size: 16px;
  font-family: 'Kodchasan', sans-serif;
  padding-top: 20px;
}
.Blog_title{
  font-family: 'Kodchasan', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.Blog_description_title{
  font-size: 14px;
  font-family: 'Kodchasan', sans-serif;
}
input[type=learn_about] {
  color: #1265F3;
  border-color: #1265F3;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-family: 'Kodchasan', sans-serif;
  text-align: center;
  right: 0px;
  font-weight: bold;
  cursor: pointer;
}
input[type= learn_about]:hover {
  background-color:#1265F3 ;
  color: #eef7ff;
}
input[type=learn_about_button] {
  color: #FFFFFF;
  background-color: #1265F3;
  border-radius: 5px;
  border-color: #1265F3;
  width: 150px;
  height: 40px;
  font-family: 'Kodchasan', sans-serif;
  text-align: center;
  right: 0px;
  font-weight: bold;
  cursor: pointer;
}
input[type= learn_about_button]:hover {
  background-color: #eef7ff;
  color: #1265F3;
}
input[type= learn_button] {
  color: #FFFFFF;
  background: linear-gradient(90deg, #991B1B 0%, #DC2626 50.41%, #991B1B 100%);
  width: 150px;
  height: 40px;
  border: none;
  font-family: 'Kodchasan', sans-serif;
  text-align: center;
  right: 0px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.image{
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  position: relative;
}

.image img{
  width: 100%;
  transform: scale(1);
  transition: all 0.5s;
}

.image:hover img{
  transform: scale(1.2);
}
/*
    Auther: Abdelrhman Said
*/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #CD201F;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}
.underline-on-hover {
  text-decoration: none;
  cursor: pointer;
}

.underline-on-hover:hover {
  text-decoration: underline;
}
.slideshow-container {
  position: relative;
  width: 100%;
  height: 250px;  
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow-image.active {
  opacity: 1;
}

.slideshow-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.column-container {
  display: flex;
  overflow: hidden;
}

.colum {
  width: 408px;
  height: 550px;
  animation: slide 15s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



